
    /* Header */
    .header {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .logo {
        width: 120px;
        height: auto;
    }
    .navbar-toggler{
        background-color: #ffffff;
    }
    
    
    .navbar-light .navbar-nav .nav-link {
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        padding: 10px 15px;
        transition: color 0.3s;
    }
    
    .navbar-light .navbar-nav .nav-link:hover {
        color: #FF914D;
    }
    
    .header h1 {
        font-family: 'Monotype Corsiva', cursive;
        font-size: 35px;
        text-align: center;
        margin: 20px 0;
    }
    
    .header p {
        font-family: 'Monotype Corsiva', cursive;
        font-size: 19px;
        text-align: center;
    }
    
    .breadcrumb {
        text-align: center;
        font-size: 13px;
        margin-top: 10px;
    }
    
    .header .social-icons {
        position: absolute;
        right: 20px;
        top: 236px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    